.footer {
  background-color: #F3F4F6;  
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #e5e7eb;
}
@media (max-width:768px){
  .footer{
    font-size: 12px;
    padding: 15px 10px;
  }
}

body.dark-mode .footer {
  background-color: #0F1B2D;
  color: #4A6480;
  border-top-color: #2A3F57;
}